.contact__container {
  width: 100%;
  min-height: 80vh;
  display: grid;
  grid-template: repeat(2, minmax(50px, 300px)) / repeat(4, minmax(50px, 300px));
  grid-template-areas:
    "img img . ."
    "img img form form";
  justify-content: center;
}
.contact__image {
  grid-area: img;
}
.contact__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.contact__details {
  grid-area: form;
  place-self: center center;
  text-align: center;
}
.contact__details h2 {
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 0 0 10px var(--second-color);
  margin-bottom: 5px;
}

.contact__form {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: fit-content;
  min-height: 100px;
  padding: 10px;
  margin: 30px auto 0;
  box-shadow: 0 0 10px var(--shadow);
  border-radius: 10px;
}

.contact__form input {
  padding: 10px 5px 3px;
  font-size: 1.3rem;
  border: none;
  border-bottom: 1px solid var(--shadow);
  outline: none;
  color: var(--main-color);
}

.contact__input {
  position: relative;
}
.placeHolder {
  position: absolute;
  bottom: 50%;
  left: 10px;
  transform: translateY(50%);
  font-size: 0.9rem;
  opacity: 0;
  transition: 0.7s;
}
.contact__form input:focus::placeholder {
  font-size: 0.9rem;
}
.contact__form input:focus::placeholder {
  transition: 0.1s;
  opacity: 0;
}
.contact__form input:focus + .placeHolder {
  transform: translateY(-70%);
  font-size: 0.7rem;
  opacity: 0.7;
}
.send-button {
  margin: 10px auto 0;
  width: 80%;
  padding: 10px;
  font-size: 1.5rem;
}

#trick{
  opacity: 0;
}

@media screen and (max-width: 700px){
  .contact__container{
    grid-template: repeat(3, minmax(50px, 300px)) / repeat(2, minmax(50px, 300px));
    grid-template-areas:
      "img img "
      "img img "
      "form form";
    row-gap: 20px;
  }
}