.characters__container {
  width: 70%;
  min-height: 100vh;
  padding-bottom: 20px;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.characters__list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  gap: 20px;
  justify-content: center;
}

.characters__showMore {
  margin-top: 30px;
  width: 100%;
  text-align: center;
}
